BACKUP DATABASE [ProWaiter] TO  [ProWaiterBKP] WITH NOFORMAT, INIT,  NAME = N'BackUp do Banco de Dados ProWaiter', SKIP, NOREWIND, NOUNLOAD, STATS = 10
GO

declare @backupSetId as int
select @backupSetId = position from msdb..backupset where database_name=N'ProWaiter' and backup_set_id=(select max(backup_set_id) from msdb..backupset where database_name=N'ProWaiter' )
if @backupSetId is null begin raiserror(N'Falha na verificação. Informações de backup do banco de dados ''ProWaiter'' não encontradas.', 16, 1) end
RESTORE VERIFYONLY FROM  [ProWaiterBKP] WITH  FILE = @backupSetId,  NOUNLOAD,  NOREWIND
GO
