/*
   terça-feira, 28 de abril de 202009:43:23
   Usuário: sa
   Servidor: localhost\NEWSHARP
   Banco de Dados: ProWaiter
   Aplicativo: 
*/

/* Para impedir possíveis problemas de perda de dados, analise este script detalhadamente antes de executá-lo fora do contexto do designer de banco de dados.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.TBModeloAtribComponentesRefeicaoPedido
	(
	CodModeloRefeicaoPedido int NOT NULL,
	CodComponente smallint NOT NULL,
	Quantidade tinyint NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.TBModeloAtribComponentesRefeicaoPedido ADD CONSTRAINT
	PK_TBModeloAtribComponentesRefeicaoPedido PRIMARY KEY CLUSTERED 
	(
	CodModeloRefeicaoPedido,
	CodComponente
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TBModeloAtribComponentesRefeicaoPedido SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBModeloAtribComponentesRefeicaoPedido', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBModeloAtribComponentesRefeicaoPedido', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBModeloAtribComponentesRefeicaoPedido', 'Object', 'CONTROL') as Contr_Per 