/*
   terça-feira, 28 de abril de 202009:49:18
   Usuário: sa
   Servidor: localhost\NEWSHARP
   Banco de Dados: ProWaiter
   Aplicativo: 
*/

/* Para impedir possíveis problemas de perda de dados, analise este script detalhadamente antes de executá-lo fora do contexto do designer de banco de dados.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBModelosPedido SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBModelosPedido', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBModelosPedido', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBModelosPedido', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBModeloAtribBebidasPedido ADD CONSTRAINT
	FK_TBModeloAtribBebidasPedido_TBModelosPedido FOREIGN KEY
	(
	CodModeloPedido
	) REFERENCES dbo.TBModelosPedido
	(
	Codigo
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
ALTER TABLE dbo.TBModeloAtribBebidasPedido SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBModeloAtribBebidasPedido', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBModeloAtribBebidasPedido', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBModeloAtribBebidasPedido', 'Object', 'CONTROL') as Contr_Per 