/*
   terça-feira, 28 de abril de 202009:51:31
   Usuário: sa
   Servidor: localhost\NEWSHARP
   Banco de Dados: ProWaiter
   Aplicativo: 
*/

/* Para impedir possíveis problemas de perda de dados, analise este script detalhadamente antes de executá-lo fora do contexto do designer de banco de dados.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBRefeicoesCardapio SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBRefeicoesCardapio', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBRefeicoesCardapio', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBRefeicoesCardapio', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBModeloAtribRefeicoesPedido ADD CONSTRAINT
	FK_TBModeloAtribRefeicoesPedido_TBRefeicoesCardapio FOREIGN KEY
	(
	CodRefeicao,
	CodTamanho
	) REFERENCES dbo.TBRefeicoesCardapio
	(
	CodRefeicao,
	CodTamanho
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TBModeloAtribRefeicoesPedido SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBModeloAtribRefeicoesPedido', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBModeloAtribRefeicoesPedido', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBModeloAtribRefeicoesPedido', 'Object', 'CONTROL') as Contr_Per 