/*
   terça-feira, 28 de abril de 202014:03:10
   Usuário: sa
   Servidor: localhost\NEWSHARP
   Banco de Dados: ProWaiter
   Aplicativo: 
*/

/* Para impedir possíveis problemas de perda de dados, analise este script detalhadamente antes de executá-lo fora do contexto do designer de banco de dados.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_TBModelosPedido
	(
	Codigo int NOT NULL IDENTITY (1, 1),
	Nome varchar(256) NOT NULL,
	Desconto decimal(6, 2) NOT NULL,
	Acrescimo decimal(6, 2) NOT NULL,
	Observacoes varchar(MAX) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_TBModelosPedido SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_TBModelosPedido ON
GO
IF EXISTS(SELECT * FROM dbo.TBModelosPedido)
	 EXEC('INSERT INTO dbo.Tmp_TBModelosPedido (Codigo, Nome, Desconto, Acrescimo, Observacoes)
		SELECT Codigo, Nome, Desconto, Acrescimo, Observacoes FROM dbo.TBModelosPedido WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_TBModelosPedido OFF
GO
ALTER TABLE dbo.TBModeloAtribRefeicoesPedido
	DROP CONSTRAINT FK_TBModeloAtribRefeicoesPedido_TBModelosPedido
GO
ALTER TABLE dbo.TBModeloAtribBebidasPedido
	DROP CONSTRAINT FK_TBModeloAtribBebidasPedido_TBModelosPedido
GO
DROP TABLE dbo.TBModelosPedido
GO
EXECUTE sp_rename N'dbo.Tmp_TBModelosPedido', N'TBModelosPedido', 'OBJECT' 
GO
ALTER TABLE dbo.TBModelosPedido ADD CONSTRAINT
	PK_TBModelosPedido PRIMARY KEY CLUSTERED 
	(
	Codigo
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBModelosPedido', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBModelosPedido', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBModelosPedido', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBModeloAtribBebidasPedido ADD CONSTRAINT
	FK_TBModeloAtribBebidasPedido_TBModelosPedido FOREIGN KEY
	(
	CodModeloPedido
	) REFERENCES dbo.TBModelosPedido
	(
	Codigo
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
ALTER TABLE dbo.TBModeloAtribBebidasPedido SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBModeloAtribBebidasPedido', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBModeloAtribBebidasPedido', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBModeloAtribBebidasPedido', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBModeloAtribRefeicoesPedido ADD CONSTRAINT
	FK_TBModeloAtribRefeicoesPedido_TBModelosPedido FOREIGN KEY
	(
	CodModeloPedido
	) REFERENCES dbo.TBModelosPedido
	(
	Codigo
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
ALTER TABLE dbo.TBModeloAtribRefeicoesPedido SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBModeloAtribRefeicoesPedido', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBModeloAtribRefeicoesPedido', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBModeloAtribRefeicoesPedido', 'Object', 'CONTROL') as Contr_Per 