/*
   sábado, 30 de maio de 202007:07:22
   Usuário: sa
   Servidor: RYZEN2700X\NEWSHARP
   Banco de Dados: ProWaiter
   Aplicativo: 
*/

/* Para impedir possíveis problemas de perda de dados, analise este script detalhadamente antes de executá-lo fora do contexto do designer de banco de dados.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBAtribBebidasPedido ADD
	PercDesconto decimal(5, 2) NOT NULL CONSTRAINT DF_TBAtribBebidasPedido_PercDesconto DEFAULT 0.00
GO
ALTER TABLE dbo.TBAtribBebidasPedido SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBAtribBebidasPedido', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBAtribBebidasPedido', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBAtribBebidasPedido', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBAtribRefeicoesPedido ADD
	PercDesconto decimal(5, 2) NOT NULL CONSTRAINT DF_TBAtribRefeicoesPedido_PercDesconto DEFAULT 0.00
GO
ALTER TABLE dbo.TBAtribRefeicoesPedido SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBAtribRefeicoesPedido', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBAtribRefeicoesPedido', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBAtribRefeicoesPedido', 'Object', 'CONTROL') as Contr_Per 