/*
   sexta-feira, 21 de agosto de 202016:38:33
   Usuário: sa
   Servidor: RYZEN2700X\NEWSHARP
   Banco de Dados: ProWaiter
   Aplicativo: 
*/

/* Para impedir possíveis problemas de perda de dados, analise este script detalhadamente antes de executá-lo fora do contexto do designer de banco de dados.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBPedidosExternos ADD
	SequencialNoDia smallint NOT NULL CONSTRAINT DF_TBPedidosExternos_SequencialNoDia DEFAULT 0
GO
ALTER TABLE dbo.TBPedidosExternos SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBPedidosExternos', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBPedidosExternos', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBPedidosExternos', 'Object', 'CONTROL') as Contr_Per 