/*
   sábado, 22 de agosto de 202010:46:48
   Usuário: sa
   Servidor: RYZEN2700X\NEWSHARP
   Banco de Dados: ProWaiter
   Aplicativo: 
*/

/* Para impedir possíveis problemas de perda de dados, analise este script detalhadamente antes de executá-lo fora do contexto do designer de banco de dados.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBPedidosExternos
	DROP CONSTRAINT FK_TBPedidosExternos_TBPedidos
GO
ALTER TABLE dbo.TBPedidos SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBPedidos', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBPedidos', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBPedidos', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBPedidosExternos
	DROP CONSTRAINT FK_TBPedidosExternos_TBClientes
GO
ALTER TABLE dbo.TBClientes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBClientes', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBClientes', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBClientes', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBPedidosExternos
	DROP CONSTRAINT DF_TBPedidosExternos_ValorEntrega
GO
ALTER TABLE dbo.TBPedidosExternos
	DROP CONSTRAINT DF_TBPedidosExternos_SequencialNoDia
GO
CREATE TABLE dbo.Tmp_TBPedidosExternos
	(
	Codigo int NOT NULL,
	CodCliente int NOT NULL,
	ValorEntrega decimal(6, 2) NOT NULL,
	SequencialNoDia smallint NOT NULL,
	Catchup bit NULL,
	Mostarda bit NULL,
	Maionese bit NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_TBPedidosExternos SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_TBPedidosExternos ADD CONSTRAINT
	DF_TBPedidosExternos_ValorEntrega DEFAULT ((0)) FOR ValorEntrega
GO
ALTER TABLE dbo.Tmp_TBPedidosExternos ADD CONSTRAINT
	DF_TBPedidosExternos_SequencialNoDia DEFAULT ((0)) FOR SequencialNoDia
GO
IF EXISTS(SELECT * FROM dbo.TBPedidosExternos)
	 EXEC('INSERT INTO dbo.Tmp_TBPedidosExternos (Codigo, CodCliente, ValorEntrega, SequencialNoDia, Catchup, Mostarda, Maionese)
		SELECT Codigo, CodCliente, ValorEntrega, SequencialNoDia, CONVERT(bit, Catchup), CONVERT(bit, Mostarda), CONVERT(bit, Maionese) FROM dbo.TBPedidosExternos WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.TBPedidosExternos
GO
EXECUTE sp_rename N'dbo.Tmp_TBPedidosExternos', N'TBPedidosExternos', 'OBJECT' 
GO
ALTER TABLE dbo.TBPedidosExternos ADD CONSTRAINT
	PK_TBPedidosExternos PRIMARY KEY CLUSTERED 
	(
	Codigo
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TBPedidosExternos ADD CONSTRAINT
	FK_TBPedidosExternos_TBClientes FOREIGN KEY
	(
	CodCliente
	) REFERENCES dbo.TBClientes
	(
	Codigo
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TBPedidosExternos ADD CONSTRAINT
	FK_TBPedidosExternos_TBPedidos FOREIGN KEY
	(
	Codigo
	) REFERENCES dbo.TBPedidos
	(
	Codigo
	) ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBPedidosExternos', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBPedidosExternos', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBPedidosExternos', 'Object', 'CONTROL') as Contr_Per 