/*
   quarta-feira, 2 de setembro de 202008:58:39
   Usuário: sa
   Servidor: RYZEN2700X\NEWSHARP
   Banco de Dados: ProWaiter
   Aplicativo: 
*/

/* Para impedir possíveis problemas de perda de dados, analise este script detalhadamente antes de executá-lo fora do contexto do designer de banco de dados.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.TBEnderecosClientes
	(
	Codigo int NOT NULL,
	CodCliente int NOT NULL,
	Endereco varchar(100) NULL,
	Bairro varchar(50) NULL,
	CodCidade int NULL,
	Telefone1 varchar(40) NULL,
	Telefone2 varchar(40) NULL,
	ValorEntregaPadrao decimal(6, 2) NOT NULL,
	ObservacoesPadrao varchar(MAX) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.TBEnderecosClientes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBEnderecosClientes', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBEnderecosClientes', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBEnderecosClientes', 'Object', 'CONTROL') as Contr_Per 