/*
   quarta-feira, 2 de setembro de 202009:01:10
   Usuário: sa
   Servidor: RYZEN2700X\NEWSHARP
   Banco de Dados: ProWaiter
   Aplicativo: 
*/

/* Para impedir possíveis problemas de perda de dados, analise este script detalhadamente antes de executá-lo fora do contexto do designer de banco de dados.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBClientes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBClientes', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBClientes', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBClientes', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_TBEnderecosClientes
	(
	Codigo int NOT NULL IDENTITY (1, 1),
	CodCliente int NOT NULL,
	Endereco varchar(100) NULL,
	Bairro varchar(50) NULL,
	CodCidade int NULL,
	Telefone1 varchar(40) NULL,
	Telefone2 varchar(40) NULL,
	ValorEntregaPadrao decimal(6, 2) NOT NULL,
	ObservacoesPadrao varchar(MAX) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_TBEnderecosClientes SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_TBEnderecosClientes ON
GO
IF EXISTS(SELECT * FROM dbo.TBEnderecosClientes)
	 EXEC('INSERT INTO dbo.Tmp_TBEnderecosClientes (Codigo, CodCliente, Endereco, Bairro, CodCidade, Telefone1, Telefone2, ValorEntregaPadrao, ObservacoesPadrao)
		SELECT Codigo, CodCliente, Endereco, Bairro, CodCidade, Telefone1, Telefone2, ValorEntregaPadrao, ObservacoesPadrao FROM dbo.TBEnderecosClientes WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_TBEnderecosClientes OFF
GO
DROP TABLE dbo.TBEnderecosClientes
GO
EXECUTE sp_rename N'dbo.Tmp_TBEnderecosClientes', N'TBEnderecosClientes', 'OBJECT' 
GO
ALTER TABLE dbo.TBEnderecosClientes ADD CONSTRAINT
	PK_TBEnderecosClientes PRIMARY KEY CLUSTERED 
	(
	Codigo
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TBEnderecosClientes ADD CONSTRAINT
	FK_TBEnderecosClientes_TBClientes FOREIGN KEY
	(
	CodCliente
	) REFERENCES dbo.TBClientes
	(
	Codigo
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBEnderecosClientes', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBEnderecosClientes', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBEnderecosClientes', 'Object', 'CONTROL') as Contr_Per 