/*
   sábado, 5 de setembro de 202010:23:53
   Usuário: sa
   Servidor: RYZEN2700X\NEWSHARP
   Banco de Dados: ProWaiter
   Aplicativo: 
*/

/* Para impedir possíveis problemas de perda de dados, analise este script detalhadamente antes de executá-lo fora do contexto do designer de banco de dados.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBEnderecosClientes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBEnderecosClientes', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBEnderecosClientes', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBEnderecosClientes', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBPedidosExternos ADD
	CodEnderecoEntrega int NULL
GO
ALTER TABLE dbo.TBPedidosExternos ADD CONSTRAINT
	FK_TBPedidosExternos_TBEnderecosClientes FOREIGN KEY
	(
	CodEnderecoEntrega
	) REFERENCES dbo.TBEnderecosClientes
	(
	Codigo
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TBPedidosExternos SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBPedidosExternos', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBPedidosExternos', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBPedidosExternos', 'Object', 'CONTROL') as Contr_Per 