/*
   sábado, 5 de setembro de 202014:27:24
   Usuário: sa
   Servidor: RYZEN2700X\NEWSHARP
   Banco de Dados: ProWaiter
   Aplicativo: 
*/

/* Para impedir possíveis problemas de perda de dados, analise este script detalhadamente antes de executá-lo fora do contexto do designer de banco de dados.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBClientes
	DROP CONSTRAINT FK_TBClientes_TBCidades
GO
ALTER TABLE dbo.TBCidades SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBCidades', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBCidades', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBCidades', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBClientes
	DROP CONSTRAINT DF_TBClientes_ValorEntregaPadrao
GO
ALTER TABLE dbo.TBClientes
	DROP COLUMN Endereco, Bairro, CodCidade, ValorEntregaPadrao, ObservacoesPadrao
GO
ALTER TABLE dbo.TBClientes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBClientes', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBClientes', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBClientes', 'Object', 'CONTROL') as Contr_Per 