/*
   segunda-feira, 7 de setembro de 202016:43:00
   Usuário: sa
   Servidor: RYZEN2700X\NEWSHARP
   Banco de Dados: ProWaiter
   Aplicativo: 
*/

/* Para impedir possíveis problemas de perda de dados, analise este script detalhadamente antes de executá-lo fora do contexto do designer de banco de dados.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.TBItensBalcao
	(
	Codigo int NOT NULL IDENTITY (1, 1),
	Nome varchar(100) NOT NULL,
	Valor decimal(10, 2) NOT NULL,
	CodBarras varchar(50) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.TBItensBalcao ADD CONSTRAINT
	PK_TBItensBalcao PRIMARY KEY CLUSTERED 
	(
	Codigo
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TBItensBalcao SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBItensBalcao', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBItensBalcao', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBItensBalcao', 'Object', 'CONTROL') as Contr_Per 