/*
   terça-feira, 8 de setembro de 202007:32:26
   Usuário: sa
   Servidor: RYZEN2700X\NEWSHARP
   Banco de Dados: ProWaiter
   Aplicativo: 
*/

/* Para impedir possíveis problemas de perda de dados, analise este script detalhadamente antes de executá-lo fora do contexto do designer de banco de dados.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBPedidos SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBPedidos', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBPedidos', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBPedidos', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBItensBalcao SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBItensBalcao', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBItensBalcao', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBItensBalcao', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.TBAtribItensBalcaoPedido
	(
	Codigo int NOT NULL IDENTITY (1, 1),
	CodPedido int NOT NULL,
	CodItemBalcao int NOT NULL,
	Valor decimal(10, 2) NOT NULL,
	NomeUsuario nvarchar(256) NOT NULL,
	DataHora datetime NOT NULL,
	PercDesconto decimal(5, 2) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.TBAtribItensBalcaoPedido ADD CONSTRAINT
	PK_TBAtribItensBalcaoPedido PRIMARY KEY CLUSTERED 
	(
	Codigo
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TBAtribItensBalcaoPedido ADD CONSTRAINT
	FK_TBAtribItensBalcaoPedido_TBPedidos FOREIGN KEY
	(
	CodPedido
	) REFERENCES dbo.TBPedidos
	(
	Codigo
	) ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
	
GO
ALTER TABLE dbo.TBAtribItensBalcaoPedido ADD CONSTRAINT
	FK_TBAtribItensBalcaoPedido_TBItensBalcao FOREIGN KEY
	(
	CodItemBalcao
	) REFERENCES dbo.TBItensBalcao
	(
	Codigo
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TBAtribItensBalcaoPedido SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBAtribItensBalcaoPedido', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBAtribItensBalcaoPedido', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBAtribItensBalcaoPedido', 'Object', 'CONTROL') as Contr_Per 