<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>    
    <add name="ProWaiterConnectionString" connectionString="Server=localhost\NewSharp;Database=ProWaiter;User Id=sa;Password=Minos2020;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>    
    <add key="VersoesParaAtualizacao" value="1_1;2_0;2_1"/>
  </appSettings>
</configuration>